

.DashPokemon{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  margin: 5px;
  background-image: url('../../../Assets/background.png');
  justify-content: center;
  align-items: center;
  .dash-pokemon-dark-background{
    position: relative;
    width: 95%;
    height: 95%;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    .dash-pokemon-name{
      margin-left: 5px;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 1.5rem;
      align-self: flex-start;
    }
    .dash-pokemon-profile{
      // background: white;
      background-position: center;
      background-size: 100%;
      width: 95%;
      height: 40%;
      border: 1px solid black;
      display: flex;
      justify-content: center;
    }
    .dash-pokemon-id{
      position: absolute;
      top: 2px;
      right: 2px;
    }
    .dash-pokemon-details{
      margin-top: 2px;
      padding: 2px;
      padding-top: 4px;
      display: flex;
      justify-content: center;
      text-transform: capitalize;
      background: yellow;
      width: 94%;
      font-size: 0.63rem;
      font-weight: 500;
    }
  }
}

.dragon{
  background-image: url('../../../Assets/dragon.png')
}
.dark{
  background-image: url('../../../Assets/dark.png')
}
.fairy{
  background-image: url('../../../Assets/fairy.png')
}
.fighting{
  background-image: url('../../../Assets/fighting.png')
}
.fire{
  background-image: url('../../../Assets/fire.png')
}
.grass{
  background-image: url('../../../Assets/grass.png')
}
.normal{
  background-image: url('../../../Assets/normal.png')
}
.psychic{
  background-image: url('../../../Assets/psychic.png')
}
.steel{
  background-image: url('../../../Assets/steel.png')
}
.thunder{
  background-image: url('../../../Assets/thunder.png')
}
.water{
  background-image: url('../../../Assets/water.png')
}

.darkbg{
  background-image: url('../../../Assets/bg/darkbg.jpg')
}

.groundbg{
  background-image: url('../../../Assets/bg/groundbg.jpg')
}